

<div class="onepage">

    <div class="home cover col-7" type="text/ng-template" id="home">
        <h1>Hi! My name is Szilvi. Designer and Photographer.</h1>
    </div>


    <div type="text/ng-template" id="about">
        <h3>About</h3>
    </div>


    <div class="project" ng-repeat="project in projects">

        <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" ng-attr="src='/imgages/project' + ${prod.id} + '.png'" alt="" />


        <section id="projectTitle" class="projectTitle"><li class="">{{project.title}}</li></section>

    </div>


</div>