
<body class="login-form">

<h2>Login Form</h2>

<div id="login" ng-controller="menuCtrl">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"><p id="formError" style="text-align: center" hidden="hidden"></p></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" id="loginBg">
            <br/>
            <br/>
            <form action="/login" method="post" class="form-horizontal" ng-submit="menuCtrl.login()">
                <div class="form group">
                    <label for="loginEmail">EMAIL</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input id="loginEmail" class="form-control" name="username" placeholder="email@example.com"
                        />
                    </div>
                </div>
                <div class="form group">
                    <br/>
                    <label>PASSWORD</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input class="form-control" type="password" name="password" required="required"/>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="buttonDiv">
                    <div class="col-md-6" id="loginBtnDiv"><input type="submit" class="btn btn-lg btn-block" id="loginBtn" value="LOGIN"/></div>
                </div>
            </form>
            <br/>
            <br/>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
